* {margin: 0;
   padding: 0;}

.h600 {height: 600px;}
.h50 {height: 50%;}
.h25 {height: 25%;}

.w800 {width: 800px;}
.w25 {width: 25%;}

.flex {display: flex;}
.column {flex-direction: column;}

.red {background-color: red;}
.green {background-color: green;}
.blue {background-color: blue;}
.orange {background-color: orange;}
.black {background-color: black;}

.padding {padding: 4px;}